



body{

	width:90%;

	margin:1rem auto;

	padding: 1rem;

	background: transparent;			

	font-size:1.3rem;

	font-family: serif;

}

header{

	

	background: purple;
	border-radius:0px 10px 10px 0;
	box-shadow:-2px -2px 5px #fff,2px 2px 5px #fff;
  width:100%;
  margin:auto;
	

	

}
header h1{
	margin: .5rem .5rem;
	text-align: justify;

	padding:1rem;

	line-height: 1em;

	text-transform: capitalize;

	color:white;
}
hr{
	border-bottom:1px solid #ddd;
}
.join{
	transition: all .5s ease;
	animation: joiner ease-in-out 3s alternate infinite;
	border-radius: 5px;
	font-weight: bold;
	border:2px solid purple;
}
.join:hover{
	background:red;
	color:white;
	border:none;
}
.welcome{
	margin:auto;
}
#header{	

	left:350px;

	display: block;

	transition: all .5s linear;

}

/*.banner img{
	margin:0;
	padding:0;
	border:1px solid green;
	overflow:hidden;
} */

h1:hover{

	transition: all .5s ease-in;

	transform: scale(1);

	box-shadow: -2px -2px 5px #ccc,2px 2px 5px #ccc;

}
p{
	font-weight: normal;
	text-align: justify;
}

form{

	background: white;

	padding: 1rem;

	max-width:400px;	

	border-radius: 10px;

	box-shadow: -2px -2px 5px #ccc,2px 2px 5px #ccc;

}

label{

	display:block;

}

input{

	display: block;

	margin-top: .5rem;

	margin:.5rem auto;

	padding: 0.5rem 1rem;

	font-size:1.2rem;

	border-radius: 5px;
	border:1px solid #ccc;
	outline: none;
	width:80%;



}

input[type='submit']{

	width:100%;

	line-height: 1em;

	font-size: 1.5rem;

	padding: .5rem;

	

	color:white;

	outline:none;



}

input[type='checkbox']{

		display: inline-block;

}
footer{
	
	line-height: 1em;
	margin-top:0;
	

}
footer h3{
	text-align: center;
	padding: 1rem;
	
}
footer a{
	color:white;
}
.error{

	margin-bottom: 1rem;

	color:red;

	font-size: 1.3rem;

	text-align: center;

}
.add_error{
border-color: red;
}
.remove_error{
	border:1px solid green;

}
ol.errors li {
	
	color:red;
}

.out{

	text-decoration: none;

	border:2px solid #ddd;

	
	padding: 1rem;

	font-size: 1.3rem;

	line-height: .5;

	border-radius: 10px;

	text-align: center;

	margin: .5rem;

	color:white;

	position: relative;
	

	animation: anima 5s  ease alternate infinite;

	transition: all.5s linear;

}

.comm{

	width:300px;

	color:white;

	margin-top: 3rem;

	padding: .5rem;

	border: 1px solid #ddd;

	transition: all .5s linear;

}

.comm:hover{

	border-radius: 10px;

	box-shadow: -2px -2px 5px #ccc,2px 2px 5px #ccc;

}

.out:hover{

	background: red;

}

@keyframes anima{
		0% {

		background: blue;
	}

100% {

		background: red;

	}

}
@keyframes joiner{
0%  {
	transform: translateX(-10px);

}
30%  {
	transform: translateX(10px);
	
}
60%{
 transform: translateX(20px);
		
	
}
100% {
	transform:translateX(30px);
}
}
@media screen and (max-width:468px){
	.banner{
		height:160px;
		margin-bottom:0;
		display:none;
	}
}
@media screen and (max-width:720px){
	.banner{
		height:240px;
		margin-bottom:0;
	}
}
